@if (families().length) {
  <table class="amv-table">
    <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom de famille</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    @for (family of families(); track family.id) {
      <tr class="head selectable" (click)="displayFamily(family)">
        <td colspan="4">{{ family.name }}</td>
      </tr>
      @for (member of family.members; track member.id) {
        <tr [class.even]="$even">
          <td>{{ member.firstName }}</td>
          <td>{{ member.lastName }}</td>
          <td>{{ member.email }}</td>
          <td>
            <a
              class="a-button invisible"
              [routerLink]="['/tutoring/family', family.id, 'member', member.id, 'edit']"
              title="modifier"
              ><span class="material-symbols-outlined">edit</span></a
            >
          </td>
        </tr>
      }
    }
  </table>
} @else {
  <div class="table-message">Aucune famille enregistrée</div>
}
