@if (families().length) {
  <table class="amv-table">
    <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom de famille</th>
      </tr>
    </thead>
    @for (family of families(); track family.id) {
      <tr class="head clickable" (click)="displayFamily(family)">
        <td colspan="2">{{ family.name }}</td>
      </tr>
      @for (member of family.members; track member.id) {
        <tr [class.even]="$even">
          <td>{{ member.firstName }}</td>
          <td>{{ member.lastName }}</td>
        </tr>
      }
    }
  </table>
} @else {
  <div class="table-message">Aucune famille enregistrée</div>
}
