@if (members().length) {
  <table class="amv-table">
    <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom de famille</th>
      </tr>
    </thead>
    @for (member of members(); track member.id) {
      <tr [class.even]="$even">
        <td>{{ member.firstName }}</td>
        <td>{{ member.lastName }}</td>
        <td>
          <a
            class="a-button invisible"
            [routerLink]="['/tutoring/edit', member.id]"
            title="modifier"
            ><span class="material-symbols-outlined">edit</span></a
          >
        </td>
        <td>
          <button class="invisible" title="supprimer">
            <span class="material-symbols-outlined" (click)="removeMember(member)">delete</span>
          </button>
        </td>
      </tr>
    }
  </table>
} @else {
  <div class="table-message">Aucun membre enregistré</div>
}

<a class="a-button" routerLink="/tutoring/add"
  ><span class="material-symbols-outlined">add</span>Ajouter un membre</a
>
