<div class="page-center">
  @if (family(); as familyValue) {
    <h1>Famille {{ familyValue.name }}</h1>

    @if (!!familyValue.members.length) {
      <table class="amv-table">
        <thead>
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom de famille</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        @for (member of familyValue.members; track member.id) {
          <tr [class.even]="$even">
            <td>{{ member.firstName }}</td>
            <td>{{ member.lastName }}</td>
            <td>{{ member.email }}</td>
          </tr>
        }
      </table>
    } @else {
      <div class="table-message">Aucune membre enregistré</div>
    }
    <a class="a-button" routerLink="member/add"> Ajouter un membre </a>
  } @else {
    <div>Famille non trouvée</div>
  }
</div>
