@use 'variables' as *;

@mixin button {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  background-color: $c2-lighter;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5em;
  border-color: $c2-light;

  &:focus:not(:disabled),
  &:hover:not(:disabled) {
    border-color: $c2;
  }

  &:active:not(:disabled) {
    background-color: $c2-light;
  }

  &.invisible {
    background-color: transparent;
    border-color: transparent;

    &:focus,
    &:hover {
      border-color: $c2;
    }

    &:active {
      background-color: $c2-light;
    }
  }

  &.secondary {
    background-color: white;
  }
}

.a-button {
  @include button;
}

button {
  @include button;
}
