@use 'variables' as *;
@use 'font';

.simple-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .field {
    display: flex;
    flex-direction: row;
  }

  label {
    display: flex;
    width: 10rem;
    align-items: center;
  }

  input {
    display: flex;
    border-radius: 0.5em;
    border-color: $c2-lighter;
    padding: 0.5em;

    &:hover {
      border-color: $c2-light;
    }

    &:focus,
    &:focus-visible {
      border-color: $c2;
    }
  }

  .field-error {
    @include font.small;
    color: $error;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button {
      flex: 1 1 auto;
    }
  }
}
