@use 'variables' as *;

.menu {
  display: flex;
  flex-direction: column;
  background-color: $c2-dark;
  color: white;
  height: 100%;
  width: 15rem;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;

  .selected-menu {
    color: $c2-lighter;
    font-weight: bold;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $c2-dark;
  color: $c1-lighter;
  width: 100%;
  border-top: 1px solid $c1-dark;
  padding: 1rem;
}
