@use 'variables' as *;

.amv-table {
  width: 100%;
  margin: 1em 0;
  background-color: $c1-light;
  border-radius: 1em;

  tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
  }

  thead {
    font-weight: bold;
    border-bottom: 1px solid;
  }

  th,
  td {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    justify-items: center;
  }

  .even {
    background-color: $c1-lighter;
  }
}
