@use 'variables' as *;

.amv-table {
  width: 100%;
  margin: 1em 0;
  background-color: $c1-light;
  border-radius: 1em;

  tr:last-child {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    td:first-child {
      border-bottom-left-radius: 1em;
    }

    td:last-child {
      border-bottom-right-radius: 1em;
    }
  }

  tr:first-child {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    td:first-child {
      border-top-left-radius: 1em;
    }

    td:last-child {
      border-top-right-radius: 1em;
    }
  }

  tr.head {
    background-color: $c2-light;
    font-weight: bold;
    box-shadow: inset 0 0 0 1px $c2;
  }

  thead {
    font-weight: bold;
    border-bottom: 1px solid;
  }

  th,
  td {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    justify-items: center;
  }

  .even {
    background-color: $c1-lighter;
  }
}

.table-message {
  padding: 1rem;
}
